
<mat-card>
  <div fxLayout="row" fxFlex="100">
    <mat-icon fontIcon="construction"> </mat-icon>
    <h2>Case</h2>
  </div>

  <div fxLayout="row" fxFlex="60" fxLayoutAlign="space-around end">

    <div routerLink="/Assignments">
      <mat-icon fontIcon="delete"></mat-icon>
      <a matLine aligned-with-icon i18n>Delete</a>
    </div>
    <div routerLink="/Assignments">
      <mat-icon fontIcon="cached"></mat-icon>
      <a matLine aligned-with-icon i18n>Create position</a>
    </div>
    <div routerLink="/Assignments">
      <mat-icon fontIcon="shopping_cart"></mat-icon>
      <a matLine aligned-with-icon i18n>Extra rates</a>
    </div>
    <div routerLink="/Assignments">
      <mat-icon fontIcon="cached"></mat-icon>
      <a matLine aligned-with-icon i18n>Create position</a>
    </div>
    <div routerLink="/Assignments">
      <mat-icon fontIcon="edit_document"></mat-icon>
      <a matLine aligned-with-icon i18n>Reports</a>
    </div>
  </div>



</mat-card>
<!-- </div> -->
<div fxLayout="row">
  <div fxLayout="column" >
  <mat-sidenav-container class="sidenav-container ">
  <mat-sidenav   [mode]="'side'" [opened]="true">

     <mat-nav-list class="removeTopPadding">
      <mat-list-item routerLink="/Assignments">
        <mat-icon class="CaseEntities"   matListIcon>linear_scale</mat-icon>
        <a matLine i18n>Sections</a>
      </mat-list-item>
      <mat-list-item routerLink="/Assignments">
        <mat-icon class="CaseEntities" matListIcon>share</mat-icon>
        <a matLine i18n>Laterals</a>
      </mat-list-item>
      <mat-list-item routerLink="/Assignments">
        <mat-icon class="material-symbols-outlined" class="CaseEntities" matListIcon>tonality</mat-icon>
        <a matLine i18n>Manholes</a>
      </mat-list-item>


    </mat-nav-list>
  </mat-sidenav>
  </mat-sidenav-container>
</div>
<div fxLayout="column" fxFlex>
<app-case-information-section></app-case-information-section>

</div>

</div>





<!--   <mat-card>

    {{frontCaseObject.getCasename()}}

    <p>hej</p>
  </mat-card>
 -->

