
<mat-card>
  <div fxLayout="row" fxFlex="100">
    <mat-icon fontIcon="construction"> </mat-icon>
    <h2>Section</h2>
  </div>

  <div fxLayout="row" fxFlex="60" fxLayoutAlign="space-around end">

    <div routerLink="/Assignments">
      <mat-icon fontIcon="remove"></mat-icon>
      <a matLine i18n>Path</a>
    </div>
    <div routerLink="/Assignments">
      <mat-icon fontIcon="cached"></mat-icon>
      <a matLine i18n>Installations</a>
    </div>
    <div routerLink="/Assignments">
      <mat-icon fontIcon="shopping_cart"></mat-icon>
      <a matLine i18n>Lateral</a>
    </div>
    <div routerLink="/Assignments">
      <mat-icon fontIcon="group"></mat-icon>
      <a matLine i18n>Group</a>
    </div>
    <div style="color: red;" routerLink="/Assignments">
      <mat-icon fontIcon="delete"></mat-icon>
      <a matLine i18n>Delete</a>
    </div>
    <div style="color: orange;" routerLink="/Assignments">
      <mat-icon fontIcon="update"></mat-icon>
      <a matLine i18n>Update</a>
    </div>
    <div routerLink="/Assignments">
      <mat-icon fontIcon="keyboard_return"></mat-icon>
      <a matLine i18n>Return</a>
    </div>
  </div>



</mat-card>


<mat-card style="border: 1px solid;">
  <div div fxLayout="row" fxLayoutAlign="space-around center">
    <mat-label i18n>
      CaseID:
    </mat-label>

    <input matInput class="sectionText" [value]="SectionObject.getSectionCode()" />

    <mat-label i18n>
      From:
    </mat-label>
    <input matInput class="sectionText" [value]="SectionObject.getFrom()" />

    <mat-label i18n>
      To:
    </mat-label>
    <input matInput class="sectionText" [value]="SectionObject.getTo()" />

    <mat-label i18n>
      Status:
    </mat-label>
    <input matInput class="sectionText" [value]="SectionObject.getStatus()" />

    <mat-label i18n>
      Priority:
    </mat-label>
    <input matInput class="sectionText" [value]="SectionObject.getPrioritetid()" />

    <mat-label i18n>
      Priority:
    </mat-label>
    <input matInput class="sectionText" [value]="SectionObject.getReporttype()" />
  </div>
</mat-card>


<mat-card>
  <div style="margin-left: 10%;" fxLayout="row">
    <mat-form-field
      appearance="fill"
      class="InformationBoxes"
      style="width:10%;"
    >
      <mat-label i18n>Report Number</mat-label>
      <input
        matInput
        class="sectionText2"
        [value]="SectionObject.getInspektionReportnumber()"
      />
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="InformationBoxes"
      style="width:10%;"
    >
      <mat-label i18n>Dimention</mat-label>
      <input
        matInput
        class="sectionText"
        [value]="SectionObject.getDimension()"
      />
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="InformationBoxes"
      style="width:10%;"
    >
      <mat-label i18n>BST</mat-label>
      <input matInput class="sectionText" [value]="SectionObject.getSectionCode()" />
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="InformationBoxes"
      style="width:10%;"
    >
      <mat-label i18n>Dimention</mat-label>
      <input
        matInput
        class="sectionText"
        [value]="SectionObject.getMateriale()"
      />
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="InformationBoxes"
      style="width:10%;"
    >
      <mat-label i18n>Length</mat-label>
      <input matInput class="sectionText" [value]="SectionObject.getLengthMeter()" />
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="InformationBoxes"
      style="width:10%;"
    >
      <mat-label i18n>Physical Index</mat-label>
      <input
        matInput
        class="sectionText"
        [value]="SectionObject.getPhysicalIndex()"
      />
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="InformationBoxes"
      style="width:10%;"
    >
      <mat-label i18n>Damage</mat-label>
      <input matInput class="sectionText" [value]="SectionObject.getInspektionDamage()" />
    </mat-form-field>
    <mat-form-field
      appearance="fill"
      class="InformationBoxes"
      style="width:10%;"
    >
      <mat-label i18n>Lateral</mat-label>
      <input
        matInput
        class="sectionText"
        [value]="SectionObject.getInspectionlateralclockreference()"
      />
    </mat-form-field>
  </div>

  <div style="margin-left: 10%;" fxLayout="row">
    <mat-form-field
      appearance="fill"
      class="InformationBoxes"
      style="width:10%;"
    >
      <mat-label i18n>Direction</mat-label>
      <input
        matInput
        class="sectionText"
        [value]="SectionObject.getInspectionDirection()"
      />
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="InformationBoxes"
      style="width:10%;"
    >
      <mat-label i18n>System Type</mat-label>
      <input matInput class="sectionText" [value]="SectionObject.getSystemage()" />
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="InformationBoxes"
      style="width:10%;"
    >
      <mat-label i18n>Address</mat-label>
      <input
        matInput
        class="sectionText"
        [value]="SectionObject.getAddressid()"
      />
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="InformationBoxes"
      style="width:10%;"
    >
      <mat-label i18n>Operator</mat-label>
      <input
        matInput
        class="sectionText"
        [value]="SectionObject.getTvOperator()"
      />
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="InformationBoxes"
      style="width:10%;"
    >
      <mat-label i18n>In use</mat-label>
      <input matInput class="sectionText" [value]="SectionObject.getDimension()" />
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="InformationBoxes"
      style="width:10%;"
    >
      <mat-label i18n>Weather</mat-label>
      <input
        matInput
        class="sectionText"
        [value]="SectionObject.getInspectionWeather()"
      />
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="InformationBoxes"
      style="width:10%;"
    >
      <mat-label i18n>Date</mat-label>
      <input matInput class="sectionText" [value]="SectionObject.getInspectionDate()" />
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="InformationBoxes"
      style="width:10%;"
    >
      <mat-label i18n>Rehab</mat-label>
      <input matInput class="sectionText" [value]="SectionObject.getAmountofplugs()" />
    </mat-form-field>
  </div>

  <div style="margin-left: 10%;" fxLayout="row">
    <mat-form-field
      appearance="fill"
      class="InformationBoxes"
      style="width:21%;"
    >
      <mat-label i18n>Description</mat-label>
      <input
        matInput
        class="sectionText"
        [value]="SectionObject.getReportDescription()"
      />
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="InformationBoxes"
      style="width:10%;"
    >
      <mat-label i18n>Prework</mat-label>
      <input
        matInput
        class="sectionText"
        [value]="SectionObject.getAssignmentNumber()"
      />
    </mat-form-field>
    <mat-form-field
      appearance="fill"
      class="InformationBoxes"
      style="width:10%;"
    >
      <mat-label i18n>Milled</mat-label>
      <input matInput class="sectionText" [value]="SectionObject.getMilled()" />
    </mat-form-field>
    <mat-form-field
      appearance="fill"
      class="InformationBoxes"
      style="width:10%;"
    >
      <mat-label i18n>Exclude</mat-label>
      <input matInput class="sectionText" [value]="SectionObject.getExcluded()" />
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="InformationBoxes"
      style="width:10%;"
    >
      <mat-label i18n>Description</mat-label>
      <input matInput class="sectionText" [value]="SectionObject.getAmountofplugs()" />
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="InformationBoxes"
      style="width:10%;"
    >
      <mat-label i18n>Description</mat-label>
      <input matInput class="sectionText" [value]="SectionObject.getChoosedeleterow()" />
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="InformationBoxes"
      style="width:10%;"
    >
      <mat-label i18n>Position</mat-label>
      <input
        matInput
        class="positionText"
        [value]="SectionObject.getPosition()"
      />
    </mat-form-field>


  </div>
</mat-card>


<app-action-information></app-action-information>

<mat-card>

<div fxLayout="row" fxLayoutAlign="start start" style="width: 100%;">

  <div  style="width: 20%;">
    <app-action-filters></app-action-filters>
  </div>


  <div style="width: 70%;">

    <app-action-list></app-action-list>
  </div>



</div>
</mat-card>







