.sectionText{
  color:hotpink;
}
.full{
  height: 80%;
}

.example-spacer {
  flex: 1 2 auto;
}
.user {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  float: right;
}

div {
  overflow: inherit;
}



.mat-sidenav-container{
background-color: transparent;
min-height: 99vh !important;
margin-top: 0px !important;
overflow-x: hidden;
overflow-y: hidden !important;
outline: 0;
min-width: 100vh;
}

a{
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

.sidenav {
  width: 220px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.mat-toolbar {
  height: 50px;
  font-size:16px;
}

.disabledButtons {
  opacity: 0.3;
}

.removeTopPadding {
  padding-top: 0px;
}


