<!-- <mat-card>
  <app-banner></app-banner>

  <div fxLayout="row" fxLayoutAlign="space-between center">

  </div>

</mat-card>
<app-case-show-case></app-case-show-case> -->


<mat-sidenav-container *ngIf="LoggedIn | async;else loggedOut"  class="sidenav-container ">
  <mat-sidenav #drawer style="overflow: hidden;" fixedInViewport="true" [attr.role]="'navigation'" [mode]="'side'" [opened]="true">
    <mat-toolbar color="primary" style="margin-top:0px; background-color: #3362a8;"><h2>Sereso</h2></mat-toolbar>
    <mat-nav-list class="removeTopPadding">
      <!-- info board hide on hcinfoapp user End -->
  <!--     <mat-list-item routerLink="/Timetables" (click)="setActiveItem('Timetables')"
        [ngStyle]="{'color' : navigationEndService.Urls[1].url==='/Timetables' ? '#3362a8' : ''}">
        <mat-icon matListIcon>info</mat-icon>
        <a matLine i18n>Timetables</a>
      </mat-list-item> -->

      <mat-list-item  routerLink="/Assignments">
        <mat-icon matListIcon>home</mat-icon>
        <a matLine i18n>home</a>
      </mat-list-item>
      <!-- info board hide on hcinfoapp user End -->

      <mat-list-item routerLink="/Customers" >
        <mat-icon class="Icon" fontIcon="engineering" matListIcon></mat-icon>
        <a matLine i18n>Contractors</a>
      </mat-list-item>

      <mat-list-item routerLink="/Projects" [disabled]="false">
        <mat-icon  class="Icon" matListIcon fontIcon="group"></mat-icon>
        <a matLine i18n>Clients</a>
      </mat-list-item>

      <mat-list-item routerLink="/Contractors">
        <mat-icon fontIcon="settings" matListIcon></mat-icon>
        <a matLine i18n>Settings</a>
      </mat-list-item>


      <mat-list-item class="disabledButtons" routerLink="/Cases">
        <mat-icon matListIcon>auto_graph</mat-icon>
        <a matLine i18n>Case</a>
      </mat-list-item>




    <mat-list-item>
      <div fxLayout="row" fxLayoutGap="15px" style="margin-left: 9%; margin-top: 10px;">
        <!-- <div style="margin-left: 18%; padding-top: 25px;"> -->
        <a matLine matRipple href="https://www.facebook.com/hartvigconsult" style="margin: 10px;">
          <!-- <mat-icon matListIcon style="">facebook</mat-icon> -->
          <img src="../assets/svgIcons/FacebookSVG.svg" style="height: 27px; width: 30px;" class="material-icon">
        </a>
        <a matLine matRipple href="https://www.linkedin.com/company/hartvigconsult/?originalSubdomain=dk"
          target="_blank" style="margin: 10px;">
          <img style="height: 25px; width: 35px;" src="../assets/LinkedIn-Logos/LI-In-Bug.png" class="material-icon">
        </a>
        <div class="material-icon" style="max-height: 27px; max-width: 27px;">

          <a matLine matRipple href="https://engii-soft.com/engiipro/" target="_blank" style="margin-top: 0px">
            <img style="height: 17px; padding-top: 5px;" src="../assets/svgIcons/logo_2020.png" class="material-icon">
          </a>
        </div>
        <!-- </div> -->
      </div>
    </mat-list-item>

  </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="width100P">

        <div fxLayout="column" class="width16½P" fxLayoutAlign="center start">

          <button type="button" i18n matTooltipClass="tooltipStyling" (click)="drawer.toggle()" matTooltip="Toggle navigationbar"
            style=" margin-left: -10px;" mat-icon-button >
            <mat-icon aria-label="Expand">menu</mat-icon>
          </button>

        </div>
        <div fxLayout="column" class="width50P" fxLayoutAlign="center center" style="font-size: xx-large">

 <!--          {{SetCurrentUrlAsNavBarTitle()}} -->
 Sereso

        </div>

        <div fxLayout="column" class="width16½P" fxLayoutAlign="center end">

          <div fxLayout="row" fxLayoutGap="5" fxLayoutAlign=" center">

            <button mat-flat-button i18n class="flagLogo" style="background-color:transparent; padding:15px;"
              matTooltipClass="tooltipStyling" matTooltip="English">
              <img src="../assets/LangIcons/us.svg" style="aspect-ratio: 1;">
            </button>

            <button mat-flat-button i18n class="flagLogo" matTooltipClass="tooltipStyling" matTooltip="Danish"
              style="background-color:transparent; padding:15px;" >
              <img src="../assets/LangIcons/dk.svg">
            </button>

            <button mat-flat-button i18n class="flagLogo" matTooltipClass="tooltipStyling" matTooltip="German"
              style="background-color:transparent; padding:15px;" >
              <img src="../assets/LangIcons/de.svg">
            </button>
            <button mat-icon-button i18n class="flagLogo" matTooltipClass="tooltipStyling" matTooltip="Log out"
           >
              <mat-icon>logout</mat-icon>
            </button>

          </div>

        </div>

      </div>


    </mat-toolbar>
    <div class="ylb-app-content" style="margin: 0%;">
      <router-outlet></router-outlet>
      <!-- <app-asignment-main-board></app-asignment-main-board> -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<ng-template #loggedOut>
  <router-outlet></router-outlet>
  <!-- <app-login-page></app-login-page> -->
</ng-template>
