<mat-card style="width: 100%;">
  <div fxLayout="row">
    <p>Action Filters</p>
  </div>
  <!--   <div fxLayout="column">

  </div> -->
  <div fxLayout="row" fxflexFill fxLayoutAlign="space-around center">
    <div routerLink="/Assignments" style="align-items: center;">
      <mat-icon fontIcon="work"></mat-icon>
      <a class="aligned-with-icon" matLine i18n>Digging</a>
    </div>

    <div routerLink="/Assignments">
      <mat-icon fontIcon="exit_to_app"></mat-icon>
      <a class="aligned-with-icon" matLine i18n>Inside</a>
    </div>
  </div>
  <div fxLayout="row" fxflexFill fxLayoutAlign="space-around center">
    <div routerLink="/Assignments">
      <mat-icon fontIcon="work_off"></mat-icon>
      <a class="aligned-with-icon" matLine i18n>No dig</a>
    </div>

    <div routerLink="/Assignments">
      <mat-icon fontIcon="arrow_forward"></mat-icon>
      <a class="aligned-with-icon" matLine i18n>Other</a>
    </div>
  </div>
  <div fxLayout="row" fxflexFill fxLayoutAlign="space-around center">
    <div routerLink="/Assignments">
      <mat-icon fontIcon="pause_circle_outline"></mat-icon>
      <a class="aligned-with-icon" matLine i18n>Manhole</a>
    </div>

    <div routerLink="/Assignments">
      <mat-icon fontIcon="info"></mat-icon>
      <a class="aligned-with-icon" matLine i18n>Information</a>
    </div>
  </div>
  <div fxLayout="row" fxflexFill fxLayoutAlign="space-around center">
    <div routerLink="/Assignments">
      <mat-icon fontIcon="arrow_drop_down_circle"></mat-icon>
      <a class="aligned-with-icon" matLine i18n>Lids</a>
    </div>

    <div routerLink="/Assignments">
      <mat-icon fontIcon="filter_list"></mat-icon>
      <a class="aligned-with-icon" matLine i18n>Filter Off</a>
    </div>
  </div>
</mat-card>
