

<mat-card style="border: 1px solid;">

  <div div fxLayout="row" fxLayoutAlign="space-around center">



      <mat-label i18n>
        Number:
      </mat-label>

      <input matInput [disabled]="true" [value]="frontCaseObject.getCasenumber()">

        <mat-label i18n>
          Name:
        </mat-label>
        <input matInput [disabled]="true" [value]="frontCaseObject.getCasename()">


        <mat-label i18n>
          Client:
        </mat-label>
        <input matInput [disabled]="true" [value]="frontCaseObject.getClientname()">


        <mat-label i18n>
          Client Type:
        </mat-label>
        <input matInput [disabled]="true" [value]="frontCaseObject.getClienttype()">


        <mat-label i18n>
          System Type:
        </mat-label>
        <input matInput [disabled]="true" [value]="frontCaseObject.getClienttype()">

  </div>

</mat-card>



<mat-card style="border: 1px solid black;">

  <table mat-table #sectionMatTable [dataSource]="sectionDatasource" style="min-width: 100% !important;" matSort
  class="mat-elevation-z8 mat-table">

  <ng-container matColumnDef="From">
    <th mat-header-cell mat-sort-header *matHeaderCellDef i18n>From</th>
    <td mat-cell *matCellDef="let element"
    (click)="GetCaseDetails(element)"
     matTooltipClass="tooltipStyling"
    matTooltip="{{element.getFrom()}}">{{element.getFrom()}}</td>
  </ng-container>
  <ng-container matColumnDef="To">
    <th mat-header-cell mat-sort-header *matHeaderCellDef i18n>To</th>
    <td mat-cell *matCellDef="let element"
     matTooltipClass="tooltipStyling"
    matTooltip="{{element.getTo()}}">{{element.getTo()}}</td>
  </ng-container>

  <ng-container matColumnDef="Status">
    <th mat-header-cell mat-sort-header *matHeaderCellDef i18n>Status</th>
    <td mat-cell *matCellDef="let element"
     matTooltipClass="tooltipStyling"
    matTooltip="{{element.getStatus()}}">{{element.getStatus()}}</td>
  </ng-container>

  <ng-container matColumnDef="DIM">
    <th mat-header-cell mat-sort-header *matHeaderCellDef i18n>DIM</th>
    <td mat-cell *matCellDef="let element"
     matTooltipClass="tooltipStyling"
    matTooltip="{{element.getDimension()}}">{{element.getDimension()}}</td>
  </ng-container>

  <ng-container matColumnDef="Length">
    <th mat-header-cell mat-sort-header *matHeaderCellDef i18n>Length</th>
    <td mat-cell *matCellDef="let element"
     matTooltipClass="tooltipStyling"
    matTooltip="{{element.getLength()}}">{{element.getLength()}}</td>
  </ng-container>

  <ng-container matColumnDef="Material">
    <th mat-header-cell mat-sort-header *matHeaderCellDef i18n>Material</th>
    <td mat-cell *matCellDef="let element"
     matTooltipClass="tooltipStyling"
    matTooltip="{{element.getMaterial()}}">{{element.getMaterial()}}</td>
  </ng-container>

  <ng-container matColumnDef="Type">
    <th mat-header-cell mat-sort-header *matHeaderCellDef i18n>Type</th>
    <td mat-cell *matCellDef="let element"
     matTooltipClass="tooltipStyling"
    matTooltip="{{element.getType()}}">{{element.getType()}}</td>
  </ng-container>

<!-- displayedColumnsForCaseDetails = ['From', 'To', 'Status', 'DIM', 'Length', 'Material', 'Type', 'Lat', 'FI' , 'DAM', 'Priority', 'Section Type']; -->
<ng-container matColumnDef="Lat">
  <th mat-header-cell mat-sort-header *matHeaderCellDef i18n>Lat</th>
  <td mat-cell *matCellDef="let element"
   matTooltipClass="tooltipStyling"
  matTooltip="{{element.getLateral()}}">{{element.getLateral()}}</td>
</ng-container>
<ng-container matColumnDef="FI">
  <th mat-header-cell mat-sort-header *matHeaderCellDef i18n>FI</th>
  <td mat-cell *matCellDef="let element"
   matTooltipClass="tooltipStyling"
  matTooltip="{{element.getFi()}}">{{element.getFi()}}</td>
</ng-container>
<ng-container matColumnDef="DAM">
  <th mat-header-cell mat-sort-header *matHeaderCellDef i18n>DAM</th>
  <td mat-cell *matCellDef="let element"
   matTooltipClass="tooltipStyling"
  matTooltip="{{element.getDamage()}}">{{element.getDamage()}}</td>
</ng-container>
<ng-container matColumnDef="Priority">
  <th mat-header-cell mat-sort-header *matHeaderCellDef i18n>Priority</th>
  <td mat-cell *matCellDef="let element"
   matTooltipClass="tooltipStyling"
  matTooltip="{{element.getPriority()}}">{{element.getPriority()}}</td>
</ng-container>
<ng-container matColumnDef="Section Type">
  <th mat-header-cell mat-sort-header *matHeaderCellDef i18n>Section Type</th>
  <td mat-cell *matCellDef="let element"
   matTooltipClass="tooltipStyling"
  matTooltip="{{element.getSectiontype()}}">{{element.getSectiontype()}}</td>
</ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumnsForCaseDetails"></tr>
<tr mat-row style="text-align: match-parrent !important;" *matRowDef="let row; columns: displayedColumnsForCaseDetails;"

>
</tr>
<mat-paginator #paginator showFirstLastButtons aria-label="antal at vise" [pageSizeOptions]="[100,500]">
</mat-paginator>
</table>

<mat-label i18n>
  System Type:
</mat-label>
<!-- <input matInput [disabled]="true" [value]="frontCaseObject.getClienttype()">
 -->


</mat-card>






