<mat-card style="border: 1px solid;">

  <div div fxLayout="row" fxLayoutAlign="space-around center">



      <mat-label i18n>
        CaseID:
      </mat-label>

      <input matInput [disabled]="true" [value]="SectionObject.getCaseid()">

        <mat-label i18n>
          From:
        </mat-label>
        <input matInput [disabled]="true" [value]="SectionObject.getFrom()">


        <mat-label i18n>
          To:
        </mat-label>
        <input matInput [disabled]="true" [value]="SectionObject.getTo()">


        <mat-label i18n>
          Status:
        </mat-label>
        <input matInput [disabled]="true" [value]="SectionObject.getStatus()">


        <mat-label i18n>
          Priority:
        </mat-label>
        <input matInput [disabled]="true" [value]="SectionObject.getPriority()">


        <mat-label i18n>
          Priority:
        </mat-label>
        <input matInput [disabled]="true" [value]="SectionObject.getType()">

  </div>

</mat-card>

<mat-card>
  <mat-form-field appearance="fill" style="width:25%;">
    <mat-label i18n>Dimention</mat-label>
    <input matInput  [value]="SectionObject.getDimension()">
  </mat-form-field>
  <mat-form-field appearance="fill" style="width:25%;">
    <mat-label i18n>BST</mat-label>
    <input matInput  [value]="SectionObject.getBst()">
  </mat-form-field>
  <mat-form-field appearance="fill" style="width:25%;">
    <mat-label i18n>Dimention</mat-label>
    <input matInput  [value]="SectionObject.getMaterial()">
  </mat-form-field>
  <mat-form-field appearance="fill" style="width:25%;">
    <mat-label i18n>Dimention</mat-label>
    <input matInput  [value]="SectionObject.getLength()">
  </mat-form-field>
  <mat-form-field appearance="fill" style="width:25%;">
    <mat-label i18n>Dimention</mat-label>
    <input matInput  [value]="SectionObject.getPhysicalindex()">
  </mat-form-field>

</mat-card>

